Package: make-install
Architecture: all
Maintainer: @hell-sing
Priority: optional
Version: 0.1
Description: Make install is a set of command line tools that lets you easily install latest version of popular software on your linux system installation, installing it alongside all of the required dependencies. For installing software you need to download, install and configure stuff manually. Make install use basic make, shell-script and C for easy installation of software without looking for right ppa for the software and version of your linux system.
